.social-styling {
    padding-top: 20px;
    padding-bottom: 10px;
}

.social-link {
    color: inherit;

}

.social-link:hover {
    color: inherit;
    transform: scale(1.3);
    -webkit-transform: scale(1.3);
}
